/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {

    .container {
        max-width: 75%;
    }

    .charity-banner__content-wrapper {
        flex-direction: column;
    }

    .charity-banner__content-item {
        width: 100%;
    }

}

@media only screen and (max-width : 1024px) {

    .popup__container {
        width: 80%;
    }

    .modal-box__description {
        position: relative;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


    .popup__title {
        font-size: 18px;
    }


    .creators__social-icon a.icon {
        font-size: 20px;
    }

    .participant__max-caption {
        font-size: 18px;
    }



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .header {
        opacity: 1;
    }

    .section-title {
        font-size: 26px;
    }

    .header__menu-wrap {
        display: none;
    }

    .header__hidden-menu {
        width: 100%;
    }

    .header__btn-menu {
        display: block;
    }

    .popup__container {
        margin: 10px auto;
    }


    .popup__title {
        font-size: 16px;
    }

    .popup__close-btn {
        width: 18px;
        height: 18px;
    }

    .popup__close-line {
        width: 18px;
    }

    .popup__input-area {
        padding: 10px;
    }

    .popup__legend {
        font-size: 16px;
    }


    .popup__input_sum,
    .popup__input_name,
    .popup__input_email,
    .popup__input_surname {
        width: 45%;
    }

    .about-fest__content-wrapper {
        flex-direction: column;
    }

    .history__img-wrapper {
        width: 50%;
    }

    .creators__wrap {
        flex-direction: column;
    }

    .creators__info,
    .creators__img {
        width: 90%;
        margin: 20px 0;
    }

    .creators__social {
        justify-content: space-between;
    }

    .creators__social-icon {
        width: 50%;
    }

    .creators__info {
        order: 2;
    }

    .creators__img {
        order: 1;
    }

    img.mfp-img {
        width: auto;
        height: auto;
    }


    .vertical-line {
        display: none;
    }

    .feedback__items-wrapper {
        flex-direction: column;
    }


    .feedback__item {
        margin: 40px auto;
        width: 100%;
    }

    .footer__social-info {
        justify-content: space-around;
        margin: 20px 0;
    }

    .participant__max-caption {
        font-size: 16px;
    }

    .participant__max-img-wrapper {
        width: 100%;
    }

    .participant__less-img-wrapper {
        width: 40%;
    }

    .participant__less-caption {
        position: relative;
        font-size: 12px;
        left: 0;
        bottom: 0;
    }

    .participant__max-img-wrapper,
    .participant__less-img-wrapper {
        -webkit-filter: greyscale(0%);
        filter: grayscale(0%);
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

    .modal-box__content {
        width: 90%;
    }

    .modal-box__description {
        opacity: 0.8;
        margin: 0;
    }

    .header__hidden-menu {
        height: 100%;
    }

    .charity__item-wrapper {
        width: 48%;
    }



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


    .popup__input_sum,
    .popup__input_name,
    .popup__input_email,
    .popup__input_surname {
        width: 100%;
    }

    .popup__social-reg {
        height: 50px;
    }

    .popup__social-reg-img {
        width: 25px;
        height: 25px;
    }

    .popup__btn {
        width: 200px;
        font-size: 14px;

    }

    .banner__description {
       font-size: 14px;
    }

    .banner__date-title {
        font-size: 34px;
    }
    .charity__title_link {
        font-size: 35px;
    }

    .charity__item-wrapper {
        width: 100%;
    }

    .section-title {
        font-size: 20px;
    }

    .participant__less-img-wrapper {
        width: 40%;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .popup__input-label {
        font-size: 12px;
    }

    .popup__slick-slider {
        margin: 0 15px
    }

    .popup__slick-content,
    .popup__legend{
        font-size: 14px;
    }

    .popup__btn-section {
        height: 75px;
    }

}


